body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

/* Roopa */
header {
  margin: 10px;
  background-color: dodgerblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
nav {
  display: flex;
}

nav a {
  text-decoration: none;
  padding: 20px;
}
/*Transforming the image*/
#profilepic {
  border-radius: 50%;
}
#AboutMe {
  display: flex;
  flex-wrap: wrap;
}
/* Sets the sidebar width to 30% of body width and makes flexable*/
aside {
  display: flex;
  justify-content: center;
  flex: 30%;
  align-items: center;
  color: rgb(59, 59, 185);
}
/* Sets the AboutMe section  width to 70% of body width */

#AboutMe p {
  flex: 70%;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 50px;
  border-left: solid var(--color);
}
#Work {
  display: flex;
  flex-wrap: wrap;
}