.custom-body {
    background-color: #faf4ed;
    color: #575279;
    font-family: "Raleway", sans-serif;
    height: 100%;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    color: #575279;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-decoration: none;
}

h1 {
    font-size: 3.25rem;
    font-weight: 700;
    margin-top: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
}